[alias]
lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
lg = lg1
co = checkout
a = add -i
stat = status
su = submodule update

[includeIf "gitdir:~/Desktop/Code/Personal/"]
	path = "~/.config/git/personal.gitconfig"

[includeIf "gitdir:~/Desktop/Code/Work/"]
	path = "~/.config/git/work.gitconfig"

[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[push]
	autoSetupRemote = true
	default = current

