.hammerspoon/local
*.log
*.sock
.crush/

stow/dot-config/git/work.*
stow/dot-config/jj/conf.d/work.*

stow/dot-config/colima/*
!stow/dot-config/colima/_templates

.DS_Store
node_modules/

playbook/secrets.yaml

stow/dot-config/aerc/stylesets/theme
stow/dot-config/borders/bordersrc
stow/dot-config/btop/themes/current.theme
stow/dot-config/eza/theme.yml
stow/dot-config/ghostty/themes/current.conf
stow/dot-config/k9s/skins/current.yaml
stow/dot-config/sketchybar/colors.sh
stow/dot-config/tmux/theme.conf
stow/dot-config/nushell/colors.nu
stow/dot-config/nvim/lua/custom/plugins/theme.lua

stow/dot-config/nushell/history.txt
