---
- name: Set Desired Formulas Fact
  ansible.builtin.set_fact:
    desired_casks: "{{ common_casks + additional_casks }}"

- name: Debug Desired Casks
  ansible.builtin.debug:
    var: desired_casks

- name: Get List of Casks
  ansible.builtin.command: brew list --casks -1 --full-name
  register: installed_casks
  changed_when: false

- name: Set Unwanted Fact
  ansible.builtin.set_fact:
    new_casks: "{{ desired_casks | difference(installed_casks.stdout_lines) }}"

- name: Debug New Casks
  ansible.builtin.debug:
    var: new_casks

- name: Set Unwanted Fact
  ansible.builtin.set_fact:
    unwanted_casks: "{{ installed_casks.stdout_lines | difference(desired_casks) }}"

- name: Debug Casks
  ansible.builtin.debug:
    var: unwanted_casks

- name: Install Homebrew Casks 
  community.general.homebrew_cask:
    state: installed
    name: "{{ desired_casks }}"
    install_options: "appdir={{ casks_appdir }}"
    sudo_password: "{{ secrets.sudo_password | default('') }}"

