---
- name: Check if Homebrew is already installed
  stat:
    path: "{{ '/opt/homebrew/bin/brew' if ansible_facts['architecture'] == 'arm64' else '/usr/local/bin/brew' }}"
  register: homebrew_check

- name: Install Homebrew
  shell: |
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  when: not homebrew_check.stat.exists
  environment:
    NONINTERACTIVE: "1"  # Skip prompts

- name: Verify Homebrew installation
  command: brew --version
  register: brew_version
  changed_when: false

- name: Display Homebrew version
  debug:
    msg: "Homebrew installed: {{ brew_version.stdout }}"

- name: Set Casks Appdir Fact
  ansible.builtin.set_fact:
    casks_appdir: "{{ ansible_facts['user_dir'] }}/Applications"

- name: Install Taps
  include_tasks: taps.yaml

- name: Install Formulas
  include_tasks: brews.yaml

- name: Install Casks
  include_tasks: casks.yaml

- name: Start Services
  community.general.homebrew_services:
    state: present
    name: "{{ item }}" 
  loop: "{{ common_services + (additional_services | default([])) }}"

- name: Cleanup Unwanted Items
  include_tasks: cleanup.yaml
