---
- name: Set Desiered Taps
  ansible.builtin.set_fact:
    desired_taps: "{{ common_taps + additional_taps }}"

- name: Debug Desired Taps 
  ansible.builtin.debug:
    var: desired_taps

- name: Get List of Taps
  ansible.builtin.command: brew tap
  register: installed_taps
  changed_when: false

- name: Set New Taps Fact
  ansible.builtin.set_fact:
    new_taps: "{{ desired_taps | difference(installed_taps.stdout_lines) }}"

- name: Debug New Taps
  ansible.builtin.debug:
    var: new_taps

- name: Set Unwanted Fact
  ansible.builtin.set_fact:
    unwanted_taps: "{{ installed_taps.stdout_lines | difference(desired_taps) }}"

- name: Debug Taps
  ansible.builtin.debug:
    var: unwanted_taps

- name: Add Homebrew Taps
  community.general.homebrew_tap:
    state: present
    name: "{{ desired_taps }}"
