---
- name: Install Ghostty
  community.general.homebrew_cask:
    state: present
    name: ghostty
    install_options: "appdir={{ casks_appdir }}"

- name: Install CLI Tools
  community.general.homebrew:
    state: present
    name:
      - jq
      - fd 
      - xq
      - fzf
      - wget
      - yq
      - eza
      - parallel
      - ripgrep
      - ripgrep-all
      - tlrc
      - zoxide
      - grex
      - btop

- name: Install TMUX
  block:
    - name: Install TMUX Binary
      community.general.homebrew:
        name: tmux
        state: present

    - name: Install TPM
      ansible.builtin.git:
        repo: 'https://github.com/tmux-plugins/tpm'
        dest: "{{ ansible_facts['user_dir'] }}/.tmux/plugins/tpm"
        update: no


- name: Install Core Tools
  community.general.homebrew:
    state: present
    name:
      - stow
      - tmuxinator
      - sesh
      - starship
      - antidote

- name: Install Secrets Manager
  community.general.homebrew:
    name: pass
    state: present

- name: Install ZSH Transient Prompt
  block:
    - name: Add Transient Prompt Tap
      community.general.homebrew_tap:
        state: present
        name: olets/tap

    - name: Install Transient Prompt
      community.general.homebrew:
        state: present
        name: olets/tap/zsh-transient-prompt

