"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Josh Hamill"
email = "joshua@oscilar.com"

[git]
private-commits = 'description(glob:"private:*")'

[revset-aliases]
wip = 'description(glob:"wip:*") & mutable()'
private = 'description(glob:"private:*")'
linear = 'description(regex:".*OSC-[0-9]+.*") & mutable()'

dev = 'wip | private | present(@)'

[ui]
pager = ":builtin"

