"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[git]
private-commits = 'description(glob:"private:*")'

[revset-aliases]
wip = 'description(glob:"wip:*") & mutable()'
private = 'description(glob:"private:*")'

dev = 'wip | private | present(@)'

[ui]
pager = ":builtin"

