"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[aliases]
spr = ["util", "exec", "--", "jj-spr"]

[git]
private-commits = 'description(glob:"private:*")'

[revset-aliases]
wip = 'description(glob:"wip:*") & mutable()'
private = 'description(glob:"private:*")'
dev = 'wip | private | present(@)'
current_bookmarks = 'trunk()..@ & bookmarks()'

[ui]
pager = ":builtin"
default-command = "log"

[template-aliases]
'local_bookmarks' = 'if(!remote, name ++ "\n")'

