"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Josh Hamill"
email = "joshua@oscilar.com"

[git]
private-commits = '''description(glob:'private:*')'''

[ui]
pager = ":builtin"

