---
- name: Download Amazon Corretto {{ item }}
  ansible.builtin.get_url:
    url: "https://corretto.aws/downloads/latest/amazon-corretto-{{ item }}-aarch64-macos-jdk.tar.gz"
    dest: "{{ java_root }}/amazon-corretto-{{ item }}.tar.gz"
  register: download_result

- name: Create Amazon Corretto {{ item }} Directory
  ansible.builtin.file:
    path: "{{ java_root }}/amazon-corretto-{{ item }}"
    state: directory

- name: Extract Amazon Corretto {{ item }}
  ansible.builtin.command:
    cmd: "tar -xvf amazon-corretto-{{ item }}.tar.gz --strip-components=1 -C {{ java_root }}/amazon-corretto-{{ item }}"
    chdir: "{{ java_root }}"
  when: download_result.changed

