---
- name: Set Language Root Fact
  ansible.builtin.set_fact:
    language_install_root: "{{ ansible_facts['user_dir'] }}/.local/ansible_langs"

- name: Set Language Cache Root Fact
  ansible.builtin.set_fact:
    language_cache_root: "{{ ansible_facts['user_dir'] }}/.cache/ansible_langs"

- name: Create Language Root Directory
  ansible.builtin.file:
    path: "{{ language_install_root }}"
    state: directory

- name: Create Language Cache Root Directory
  ansible.builtin.file:
    path: "{{ language_cache_root }}"
    state: directory

- name: Install Java
  block:
    - name: Create Java Install Root
      ansible.builtin.file:
        path: "{{ language_install_root }}/java"
        state: directory
    
    - name: Create Java Cache Install Root
      ansible.builtin.file:
        path: "{{ language_cache_root }}/java"
        state: directory


    - name: Install Amazon Corretto
      include_tasks: corretto.yaml
      loop:
        - "17"
        - "11"
        - "8"

    - name: Set Default Java
      file: 
        src: "{{ language_install_root }}/java/amazon-corretto-17"
        dest: "{{ language_install_root }}/java/current"
        state: link

- name: Install NodeJS
  block:
    - name: Create Node Install Root
      ansible.builtin.file:
        path: "{{ language_install_root }}/node"
        state: directory
    
    - name: Create Node Cache Root
      ansible.builtin.file:
        path: "{{ language_cache_root }}/node"
        state: directory

    - name: Install NodeJS Versions
      include_tasks: node.yaml
      loop:
        - "24.13.0"
        - "20.19.5"

    - name: Set Default Node
      file: 
        src: "{{ language_install_root }}/node/node-24.13.0"
        dest: "{{ language_install_root }}/node/current"
        state: link

- name: Install Python
  block:
    - name: Create Python Install Root
      ansible.builtin.file:
        path: "{{ language_install_root }}/python"
        state: directory
    
    - name: Create Python Cache Root
      ansible.builtin.file:
        path: "{{ language_cache_root }}/python"
        state: directory

    - name: Install Python Versions
      include_tasks: python.yaml
      loop:
        - "3.14.2"

    - name: Set Default Python
      file: 
        src: "{{ language_install_root }}/python/Python-3.14.2"
        dest: "{{ language_install_root }}/python/current"
        state: link

- name: Install Golang
  block:
    - name: Create Golang Install Root
      ansible.builtin.file:
        path: "{{ language_install_root }}/golang"
        state: directory
    
    - name: Create Golang Cache Root
      ansible.builtin.file:
        path: "{{ language_cache_root }}/golang"
        state: directory

    - name: Install Golang Versions
      include_tasks: golang.yaml
      loop:
        - "1.25.6"

    - name: Set Default Golang
      file: 
        src: "{{ language_install_root }}/golang/golang-1.25.6"
        dest: "{{ language_install_root }}/golang/current"
        state: link

- name: Install Rust
  block:
    - name: Create Rust Root
      ansible.builtin.file:
        path: "{{ language_install_root }}/rust"
        state: directory
    
    - name: Set Rust Root Fact
      ansible.builtin.set_fact: 
        rustup_home: "{{ language_install_root }}/rust/rustup"
        cargo_home: "{{ language_install_root }}/rust/cargo"

    - name: Install Rust Toolchain
      include_tasks: rust.yaml
      loop: 
        - stable-aarch64-apple-darwin


