---
- name: Download NodeJS version {{ item }}
  ansible.builtin.get_url:
    url: "https://nodejs.org/dist/v{{ item }}/node-v{{ item }}-darwin-arm64.tar.gz"
    dest: "{{ language_cache_root }}/node/node-{{ item }}.tar.gz"
  register: download_result

- name: Create NodeJS version {{ item }} Directory
  ansible.builtin.file:
    path: "{{ language_install_root }}/node/node-{{ item }}"
    state: directory

- name: Extract NodeJS version {{ item }}
  ansible.builtin.command:
    cmd: "tar -xvf node-{{ item }}.tar.gz --strip-components=1 -C {{ language_install_root }}/node/node-{{ item }}"
    chdir: "{{ language_cache_root }}/node"
  when: download_result.changed

