---
- name: Download Python version {{ item }}
  ansible.builtin.get_url:
    url: "https://www.python.org/ftp/python/{{ item }}/Python-{{ item }}.tgz"
    dest: "{{ language_cache_root }}/python/Python-{{ item }}.tgz"
  register: download_result

- name: Set OpenSSL Directory Fact
  ansible.builtin.set_fact:
    openssl_dir: "{{ ansible_facts['user_dir'] }}/.local/bootstrap"

- name: Extract Python version {{ item }}
  ansible.builtin.command:
    cmd: "tar -xvf Python-{{ item }}.tgz"
    chdir: "{{ language_cache_root }}/python"
  when: download_result.changed
  register: extract_result

- name: Create Python {{ item }} installation directory
  ansible.builtin.file:
    path: "{{ language_install_root }}/python/Python-{{ item }}"
    state: directory 

- name: Configure Python
  shell: |
    ./configure \
      --prefix="{{ language_install_root }}/python/Python-{{ item }}" \
      --enable-optimizations \
      --with-lto \
      --enable-shared \
      --with-openssl={{ openssl_dir }} \
      CPPFLAGS=-I{{ openssl_dir }}/include \
      LDFLAGS=-L{{ openssl_dir }}/lib
  args:
    chdir: "{{ language_cache_root }}/python/Python-{{ item }}"
  when: extract_result.changed
  register: configure_step

- name: Build Python
  command: make
  args:
    chdir: "{{ language_cache_root }}/python/Python-{{ item }}"
  when: configure_step.changed
  register: make_step

- name: Install Python (user-local, no sudo needed!)
  command: make install
  args:
    chdir: "{{ language_cache_root }}/python/Python-{{ item }}"
  when: make_step.changed
  register: install_step

