---
- name: Setup Java Directory
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/ansible_java"
    state: directory

- name: Install Amazon Corretto
  include_tasks: corretto.yaml
  loop:
    - "17"
    - "11"
    - "8"

